Repository jacomago/storystains: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: auto
        flags: 
          - flutterfront
      backend:
        target: auto
        flags: 
          - backend

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    # only include files in the backend folder
    paths: #note, accepts globs, not regexes
      - backend/
  frontend:
    paths:
      - frontend/

new icon design
  design/coffeestain.svg
  design/emotion icons.svg
  design/logo.svg
  design/logo_design.svg
  frontend/assets/icons/icon.png
  frontend/assets/logo/logo.png
  frontend/assets/logo/logo.svg
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/web/favicon.ico
  frontend/web/favicon.png
  frontend/web/icons/Icon-192.png
  frontend/web/icons/Icon-512.png
  frontend/web/icons/apple-touch-icon.png
  frontend/web/icons/favicon-32x32.png
Due: frontend

add more emotions to db
  .vscode/settings.json
  backend/Cargo.toml
  backend/assets/images/emotions/amaze.svg
  backend/assets/images/emotions/amze.svg
  backend/assets/images/emotions/betrayl.svg
  backend/assets/images/emotions/faint hope.svg
  backend/assets/images/emotions/painempathy.svg
  backend/assets/images/emotions/whatthe.svg
  backend/migrations/20220718081043_more_emotions.sql
  backend/sqlx-data.json
  backend/src/api/emotions/check.rs
  backend/src/api/emotions/controller.rs
  backend/src/api/emotions/db.rs
  backend/src/api/emotions/mod.rs
  backend/src/api/emotions/model/emotion.rs
  backend/src/api/emotions/model/mod.rs
  backend/src/api/emotions/routes.rs
  backend/src/api/health_check.rs
  backend/src/api/mod.rs
  backend/src/api/review_emotion/controller.rs
  backend/src/api/review_emotion/db.rs
  backend/src/api/review_emotion/model/review_emotion.rs
  backend/src/api/review_emotion/routes.rs
  backend/src/api/stories/db.rs
  backend/tests/api/emotion.rs
  backend/tests/api/review_emotion/get.rs
  backend/tests/api/review_emotion/post.rs
  backend/tests/api/review_emotion/test_review_emotion.rs
Due: backend

add new emotion details to frontend
  frontend/lib/features/emotions/emotion_model.dart
  frontend/lib/features/emotions/emotion_state.dart
  frontend/test/features/emotions/emotion.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
  frontend/test/widgets/card_review_emotions_test.dart
Due: frontend

define intial colour palette for emotions
  frontend/lib/common/constant/app_theme.dart
Due: frontend

Fix problems with parsing emotions
  .vscode/settings.json
  backend/migrations/20220718081043_more_emotions.sql
  backend/src/api/emotions/mod.rs
  backend/src/api/emotions/model/emotion_name.rs
  backend/src/api/emotions/model/mod.rs
  backend/src/api/mod.rs
  backend/src/api/review_emotion/db.rs
  backend/src/api/review_emotion/model/review_emotion.rs
  backend/src/api/review_emotion/routes.rs
  backend/tests/api/emotion.rs
  backend/tests/api/health_check.rs
  backend/tests/api/review/get.rs
  backend/tests/api/review/test_review.rs
  backend/tests/api/review_emotion/post.rs
  backend/tests/api/review_emotion/test_review_emotion.rs
Due: backend

fix put emotion name parsing
  backend/src/api/review_emotion/db.rs
  backend/src/api/review_emotion/model/review_emotion.rs
  backend/src/api/review_emotion/routes.rs
Due: backend

remove duplicate images
  design/alertness.svg
  design/amaze.svg
  design/amusement.svg
  design/amze.svg
  design/anger.svg
  design/anxiety.svg
  design/aversion.svg
  design/betrayal.svg
  design/concern.svg
  design/cruelty.svg
  design/dejection.svg
  design/desperation.svg
  design/devastation.svg
  design/disappointment.svg
  design/disdain.svg
  design/disgust.svg
  design/eww.svg
  design/faint hope.svg
  design/fear.svg
  design/grief.svg
  design/horror.svg
  design/indignation.svg
  design/joy.svg
  design/laughter.svg
  design/melancholy.svg
  design/outrage.svg
  design/painempathy.svg
  design/rage.svg
  design/revulsion.svg
  design/sad.svg
  design/satisfaction.svg
  design/shock.svg
  design/spooked.svg
  design/sternness.svg
  design/surprise.svg
  design/terror.svg
  design/trapped.svg
  design/whatthe.svg
  design/wonder.svg
Due: none

update logo measure
  frontend/assets/logo/logo.svg
Due: frontend

colors!
  frontend/lib/common/constant/app_theme.dart
  frontend/lib/common/widget/card_review_emotions.dart
  frontend/lib/common/widget/emotion_edit.dart
  frontend/lib/features/emotions/emotion_color.dart
  frontend/lib/features/emotions/emotion_picker.dart
  frontend/lib/features/review_emotion/review_emotion_edit.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/features/story/widgets/story_edit_widget.dart
  frontend/lib/features/story/widgets/story_widget.dart
Due: frontend

remove cspell from vscode settings
  .vscode/settings.json
Due: none

remove import
  frontend/lib/common/widget/emotion_edit.dart
Due: frontend

rounded corners
  frontend/lib/common/widget/emotion_edit.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
Due: frontend

inkscape file save
  design/logo_design.svg
Due: none

Add material to android
  frontend/android/app/build.gradle
  frontend/android/app/src/main/res/values/styles.xml
Due: frontend

add fastlane and update
  frontend/android/Gemfile
  frontend/android/Gemfile.lock
  frontend/android/app/build.gradle
  frontend/android/app/src/debug/AndroidManifest.xml
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/android/app/src/main/kotlin/com/storystains/app/MainActivity.kt
  frontend/android/app/src/profile/AndroidManifest.xml
  frontend/android/fastlane/Appfile
  frontend/android/fastlane/Fastfile
  frontend/android/fastlane/README.md
  frontend/android/fastlane/report.xml
  frontend/ios/Runner.xcodeproj/project.pbxproj
  frontend/linux/CMakeLists.txt
Due: frontend

bigger picker
  frontend/lib/features/emotions/emotion_picker.dart
Due: frontend

update inner logo
  design/logo_circle_1024.png
  frontend/assets/logo/logo.png
  frontend/lib/pages/account.dart
  frontend/lib/pages/login_register.dart
Due: frontend

clean up navigate to filters
  frontend/lib/features/story/story_route.dart
  frontend/lib/features/story/widgets/story_widget.dart
Due: frontend

fixed text overflow for title
  frontend/lib/features/story/widgets/story_widget.dart
Due: frontend

emotions with direction corners
  frontend/lib/common/widget/card_review_emotions.dart
  frontend/lib/common/widget/emotion_edit.dart
Due: frontend

make sure emotion text always fits
  frontend/lib/common/widget/emotion_edit.dart
Due: frontend

clean up imports and go back to svg
  design/logo_design.svg
  frontend/assets/logo/logo_circle_plain.svg
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/pages/account.dart
  frontend/lib/pages/login_register.dart
Due: frontend

clean up log page for password scroll
  frontend/lib/l10n/app_en.arb
  frontend/lib/pages/login_register.dart
Due: frontend

remove timeline for list view
  frontend/lib/common/widget/timeline.dart
  frontend/lib/common/widget/widget.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/l10n/app_en.arb
Due: frontend

Include name in colored box
  frontend/lib/common/widget/emotion_edit.dart
Due: frontend

use color in picker again
  frontend/lib/features/emotions/emotion_picker.dart
Due: frontend

clean up edit for the new emotion icon
  frontend/lib/common/widget/emotion_edit.dart
  frontend/lib/features/review_emotion/review_emotion_edit.dart
Due: frontend

split up item from list
  frontend/lib/features/review_emotion/review_emotion.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
  frontend/lib/features/review_emotion/widgets/widgets.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

clean up imports
  frontend/lib/features/emotions/emotion_picker.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

clean up code
  frontend/lib/features/review_emotion/review_emotion_state.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
Due: frontend

remove unused code
  frontend/lib/features/review_emotion/review_emotion_state.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
Due: frontend

fix broken tests
  frontend/test/features/review_emotion/review_emotion_edit_test.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
  frontend/test/pages/login_register_test.dart
Due: frontend

Add ndk debbing symbols in release
  frontend/android/app/build.gradle
Due: frontend

admin flag on db
  backend/migrations/20220719104747_admin_flag.sql
Due: backend

block non creator on delete review
  backend/src/api/reviews/routes.rs
Due: backend

tests for
  backend/sqlx-data.json
  backend/src/api/shared/put_block.rs
  backend/src/api/users/db.rs
  backend/src/api/users/model/users.rs
  backend/src/auth/model.rs
Due: backend

tests for admin controls
  backend/src/api/review_emotion/routes.rs
  backend/src/api/reviews/routes.rs
  backend/src/api/shared/access_control.rs
  backend/src/api/shared/error.rs
  backend/src/api/shared/mod.rs
  backend/tests/api/helpers/test_user.rs
  backend/tests/api/review/delete.rs
  backend/tests/api/review/put.rs
  backend/tests/api/review_emotion/delete.rs
  backend/tests/api/review_emotion/put.rs
Due: backend

split up test user
  backend/tests/api/auth.rs
  backend/tests/api/helpers/mod.rs
  backend/tests/api/helpers/test_app.rs
  backend/tests/api/review/delete.rs
  backend/tests/api/review/get_list.rs
  backend/tests/api/review/post.rs
  backend/tests/api/review/put.rs
  backend/tests/api/review/test_review.rs
  backend/tests/api/review_emotion/delete.rs
  backend/tests/api/review_emotion/put.rs
  backend/tests/api/review_emotion/test_review_emotion.rs
  backend/tests/api/users.rs
  backend/tests/api/users/delete.rs
  backend/tests/api/users/login.rs
  backend/tests/api/users/logout.rs
  backend/tests/api/users/mod.rs
  backend/tests/api/users/signup.rs
  backend/tests/api/users/test_user.rs
Due: backend
