Repository jacomago/storystains: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update new logo with new emotion designs
  design/building a bigger logo.svg
  website/static/images/newicontest1.png
Due: none

use svg logo
  design/building a bigger logo.svg
  website/src/routes/+page.svelte
  website/static/images/newicontest2.svg
Due: none

basic privacy policy
  website/src/routes/privacy/+page.svelte
  website/src/routes/privacy/policy.md
Due: none

clean ups from linting hints
  backend/src/api/emotions/model/emotion.rs
  backend/src/api/mediums/model/medium.rs
  backend/src/api/reviews/model/reviews.rs
  backend/src/api/shared/query_limits.rs
  backend/src/api/stories/model/query.rs
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
  frontend/lib/pages/account.dart
  frontend/lib/pages/login_register.dart
  frontend/pubspec.lock
Due: backend, frontend

transition away from tailwind
  website/package-lock.json
  website/package.json
  website/pnpm-lock.yaml
  website/src/app.css
  website/src/app.scss
  website/src/components/Footer.svelte
  website/src/routes/+layout.svelte
  website/src/routes/privacy/+page.svelte
  website/src/variables.scss
  website/svelte.config.js
  website/tailwind.config.cjs
  website/vite.config.js
Due: none

Revert "transition away from tailwind"
  website/package-lock.json
  website/package.json
  website/pnpm-lock.yaml
  website/src/app.css
  website/src/app.scss
  website/src/components/Footer.svelte
  website/src/routes/+layout.svelte
  website/src/routes/privacy/+page.svelte
  website/src/variables.scss
  website/svelte.config.js
  website/tailwind.config.cjs
  website/vite.config.js
Due: none

basic version set up
  website/package.json
  website/pnpm-lock.yaml
  website/postcss.config.cjs
  website/src/components/Footer.svelte
  website/src/routes/+page.svelte
  website/src/routes/about/+page.svelte
  website/src/routes/privacy/+page.svelte
  website/src/routes/privacy/policy.md
  website/tailwind.config.cjs
Due: none

remove unnecessary tests
  website/tests/test.ts
Due: none

fix postcss
  .vscode/settings.json
  website/package-lock.json
  website/package.json
  website/pnpm-lock.yaml
  website/postcss.config.cjs
  website/src/routes/+page.svelte
Due: none

add title html tags and other cleanup
  website/package.json
  website/postcss.config.cjs
  website/src/app.html
  website/src/routes/+page.svelte
  website/src/routes/+page.ts
  website/src/routes/about/+page.svelte
  website/src/routes/about/+page.ts
  website/src/routes/privacy/+page.svelte
  website/src/routes/privacy/+page.ts
Due: none

update serde-aux
  backend/Cargo.toml
Due: backend

update validator
  backend/Cargo.toml
Due: backend

update actix web lab and actix web httpauth
  backend/Cargo.toml
Due: backend

flutter major versions upgrade
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

Update gradle
  frontend/android/build.gradle
  frontend/android/gradle/wrapper/gradle-wrapper.properties
Due: frontend

replace icons
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/test/features/review/review_edit_test.dart
Due: frontend

use different color for own review username
  frontend/lib/features/review/widgets/review_username.dart
Due: frontend

update review list to use an auth provider
  frontend/test/features/reviews/review_list_test.dart
Due: frontend

fix position slider by moving the reviewemotionstate into the list state
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/features/review_emotions/review_emotions_state.dart
Due: frontend

fix clippy hints
  backend/sqlx-data.json
  backend/src/api/emotions/db.rs
  backend/src/api/stories/controller.rs
  backend/src/api/stories/db.rs
  backend/src/startup.rs
Due: backend

clean up imports
  frontend/lib/features/review_emotions/review_emotions_state.dart
Due: frontend

Update readme
  README.md
Due: none

Upgrade dependencies
  backend/Cargo.toml
Due: backend

update flutter packages
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
Due: frontend

update flutter
  frontend/lib/common/utils/extensions.dart
  frontend/lib/common/widget/load_message.dart
  frontend/lib/common/widget/nav_bar.dart
  frontend/lib/features/review/widgets/review_date.dart
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/pages/account.dart
  frontend/lib/pages/login_register.dart
  frontend/lib/pages/not_found.dart
  frontend/pubspec.lock
  frontend/test/common/image_mock_http.dart
Due: frontend

clippy lint
  backend/src/startup.rs
Due: backend

remove rusty hook
  .rusty-hook.toml
  backend/Cargo.toml
Due: backend

remove actions-rs
  .github/workflows/backend.yml
Due: none

fix tarpaulin place
  .github/workflows/backend.yml
Due: none

fix yaml formatting
  .github/workflows/backend.yml
Due: none

many ci fixes
  .github/workflows/backend.yml
  .github/workflows/deploy_fly.yml
  .github/workflows/frontend.yml
Due: none

remove vscode stuff
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

update dtolnay install action
  .github/workflows/backend.yml
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/frontend.yml
Due: none

frontend updates
  .github/workflows/frontend.yml
  frontend/android/app/build.gradle
  frontend/android/app/src/debug/AndroidManifest.xml
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/android/app/src/profile/AndroidManifest.xml
  frontend/android/build.gradle
  frontend/android/gradle/wrapper/gradle-wrapper.properties
Due: frontend

use old jdk
  .github/workflows/frontend.yml
Due: none

more attempts at installing sqlx-cli
  .github/workflows/backend.yml
Due: none

quick fix
  .github/workflows/backend.yml
Due: none

possible speedups
  .github/workflows/backend.yml
Due: none

fix use of taiki-e
  .github/workflows/backend.yml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
