Repository jacomago/storystains: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

remove trailing slash
  backend/src/startup.rs
Due: backend

backend filtering review list
  backend/sqlx-data.json
  backend/src/api/reviews/db.rs
  backend/src/api/reviews/model/mod.rs
  backend/src/api/reviews/model/query.rs
  backend/src/api/reviews/model/query_options.rs
  backend/src/api/reviews/routes.rs
  backend/src/api/stories/db.rs
  backend/src/api/stories/mod.rs
  backend/src/api/stories/model/mod.rs
  backend/src/api/stories/model/query.rs
  backend/src/api/stories/model/stories.rs
Due: backend

consistancy in using serde
  backend/src/api/emotions/model/emotion.rs
  backend/src/api/mediums/model/medium.rs
  backend/src/auth/jwt.rs
  backend/tests/api/review/get_list.rs
  backend/tests/api/review/test_review.rs
  backend/tests/api/review_emotion/test_review_emotion.rs
  backend/tests/api/story/get_list.rs
  backend/tests/api/story/test_story.rs
Due: backend

filter by username test
  backend/tests/api/helpers/mod.rs
  backend/tests/api/helpers/query.rs
  backend/tests/api/review/get_list.rs
  backend/tests/api/story/get_list.rs
  backend/tests/api/story/test_story.rs
Due: backend

filter by story options
  backend/tests/api/helpers/mod.rs
  backend/tests/api/review/get_list.rs
  backend/tests/api/story/get_list.rs
  backend/tests/api/story/test_story.rs
Due: backend

remove filter by date
  backend/sqlx-data.json
  backend/src/api/reviews/db.rs
  backend/src/api/reviews/model/query.rs
  backend/tests/api/helpers/query.rs
Due: backend

clean up some naming
  frontend/lib/features/reviews/review_list.dart
  frontend/lib/features/story/widgets/story_search_results.dart
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/routes/routes.dart
Due: frontend

clean up order of rest client options
  frontend/lib/common/data/network/rest_client.dart
  frontend/lib/common/data/network/rest_client.g.dart
Due: frontend

user filtered page
  frontend/lib/common/data/network/rest_client.dart
  frontend/lib/common/data/network/rest_client.g.dart
  frontend/lib/features/reviews/reviews_model.dart
  frontend/lib/features/reviews/reviews_service.dart
  frontend/lib/features/reviews/reviews_state.dart
  frontend/lib/features/story/story_model.dart
  frontend/lib/pages/user_profile.dart
Due: frontend

a user profile page from a click on a username
  frontend/lib/features/auth/auth_model.dart
  frontend/lib/features/auth/auth_model.g.dart
  frontend/lib/features/auth/auth_state.dart
  frontend/lib/features/review/review_model.dart
  frontend/lib/features/review/review_state.dart
  frontend/lib/features/review/widgets/review_username.dart
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/reviews/review_list.dart
  frontend/lib/features/user/user.dart
  frontend/lib/features/user/user_model.dart
  frontend/lib/features/user/user_model.g.dart
  frontend/lib/features/user/user_route.dart
  frontend/lib/features/user/user_widget.dart
  frontend/lib/pages/user_profile.dart
  frontend/lib/routes/routes.dart
  frontend/test/features/auth/user.dart
  frontend/test/features/reviews/review_list_test.mocks.dart
  frontend/test/features/reviews/reviews_test.mocks.dart
Due: frontend

fix routes and make filtering work
  frontend/lib/features/review/review_route.dart
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/reviews/reviews_state.dart
  frontend/lib/features/user/user_route.dart
  frontend/lib/features/user/user_widget.dart
  frontend/lib/l10n/app_en.arb
  frontend/lib/pages/not_found.dart
  frontend/lib/pages/user_profile.dart
  frontend/lib/routes/routes.dart
Due: frontend

story filter page
  frontend/lib/features/mediums/medium_picker.dart
  frontend/lib/features/reviews/reviews_state.dart
  frontend/lib/features/story/story_service.dart
  frontend/lib/features/story/story_state.dart
  frontend/lib/features/story/widgets/story_edit_widget.dart
  frontend/lib/features/user/user_widget.dart
  frontend/lib/l10n/app_en.arb
  frontend/lib/pages/story_filter_page.dart
Due: frontend

working in ui
  backend/sqlx-data.json
  backend/src/api/reviews/db.rs
  frontend/lib/features/reviews/reviews_state.dart
  frontend/lib/pages/story_filter_page.dart
  frontend/lib/routes/routes.dart
Due: backend, frontend

clean up boolean / null logic
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/story/story_state.dart
Due: frontend

fix tests
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/story/story_model.dart
  frontend/lib/features/story/story_state.dart
  frontend/test/features/review/review_edit_test.dart
  frontend/test/features/story/story.dart
  frontend/test/features/story/story_state_test.dart
  frontend/test/features/story/story_state_test.mocks.dart
  frontend/test/features/story/story_widget_test.dart
  frontend/test/features/story/story_widget_test.mocks.dart
Due: frontend

ignore generated files
  .github/workflows/frontend.yml
  frontend/.gitignore
  frontend/lib/common/data/network/rest_client.g.dart
  frontend/lib/features/auth/auth_model.g.dart
  frontend/lib/features/emotions/emotion_model.g.dart
  frontend/lib/features/mediums/medium_model.g.dart
  frontend/lib/features/review/review_model.g.dart
  frontend/lib/features/review_emotion/review_emotion_model.g.dart
  frontend/lib/features/reviews/reviews_model.g.dart
  frontend/lib/features/story/story_model.g.dart
  frontend/lib/features/user/user_model.g.dart
  frontend/test/features/auth/auth_test.mocks.dart
  frontend/test/features/emotions/emotions_test.mocks.dart
  frontend/test/features/mediums/mediums_test.mocks.dart
  frontend/test/features/review/review_edit_test.mocks.dart
  frontend/test/features/review/review_test.mocks.dart
  frontend/test/features/review_emotion/review_emotion_edit_test.mocks.dart
  frontend/test/features/review_emotion/review_emotion_test.mocks.dart
  frontend/test/features/review_emotions/review_emotions_list_test.mocks.dart
  frontend/test/features/reviews/review_list_test.mocks.dart
  frontend/test/features/reviews/reviews_test.mocks.dart
  frontend/test/features/story/story_state_test.mocks.dart
  frontend/test/features/story/story_widget_test.mocks.dart
  frontend/test/pages/account_test.mocks.dart
  frontend/test/pages/login_register_test.mocks.dart
  frontend/test/widgets/card_review_emotions_test.mocks.dart
  frontend/test/widgets/emotion_picker_test.mocks.dart
Due: frontend

user widget smoke test
  frontend/test/features/user/user_widget_test.dart
Due: frontend

story filter page test
  frontend/lib/features/reviews/reviews_model.dart
  frontend/test/pages/story_filter_page_test.dart
Due: frontend

things are clickable and routing works
  frontend/lib/features/story/story_route.dart
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/routes/routes.dart
Due: frontend

add redis script back
  backend/scripts/init_redis.sh
Due: backend

refactor routes imports
  backend/src/api/emotions/check.rs
  backend/src/api/emotions/routes.rs
  backend/src/api/mod.rs
  backend/src/api/review_emotion/model/review_emotion.rs
  backend/src/api/review_emotion/routes.rs
  backend/src/api/reviews/db.rs
  backend/src/api/reviews/routes.rs
  backend/src/api/routes.rs
  backend/src/api/users/routes.rs
  backend/src/startup.rs
Due: backend

revert backend
  backend/Cargo.toml
  backend/configuration/base.yml
  backend/configuration/local.yml
  backend/src/api/routes.rs
  backend/src/api/shared/error.rs
  backend/src/api/users/model/user_id.rs
  backend/src/api/users/model/users.rs
  backend/src/api/users/routes.rs
  backend/src/auth/jwt.rs
  backend/src/auth/middleware.rs
  backend/src/auth/mod.rs
  backend/src/configuration.rs
  backend/src/lib.rs
  backend/src/session_state.rs
  backend/src/startup.rs
  backend/tests/api/helpers/test_app.rs
  fly.toml
Due: backend

readd a logout route
  backend/src/api/routes.rs
  backend/src/api/users/routes.rs
Due: backend

refactor tests to not use tokens
  backend/src/api/routes.rs
  backend/tests/api/auth.rs
  backend/tests/api/helpers/test_app.rs
  backend/tests/api/helpers/test_user.rs
  backend/tests/api/review/delete.rs
  backend/tests/api/review/get.rs
  backend/tests/api/review/get_list.rs
  backend/tests/api/review/post.rs
  backend/tests/api/review/put.rs
  backend/tests/api/review/test_review.rs
  backend/tests/api/review_emotion/delete.rs
  backend/tests/api/review_emotion/get.rs
  backend/tests/api/review_emotion/post.rs
  backend/tests/api/review_emotion/put.rs
  backend/tests/api/review_emotion/test_review_emotion.rs
  backend/tests/api/story/get_list.rs
  backend/tests/api/story/post.rs
  backend/tests/api/story/test_story.rs
  backend/tests/api/users.rs
Due: backend

fix length of secret for use with cookie key mod
  backend/configuration/local.yml
Due: backend

pass authuser not userid as info to routes
  backend/src/api/mod.rs
  backend/src/api/shared/put_block.rs
  backend/src/api/users/model/users.rs
  backend/src/api/users/routes.rs
  backend/src/auth/middleware.rs
  backend/src/auth/model.rs
  backend/src/session_state.rs
Due: backend

rename comments
  backend/tests/api/auth.rs
  backend/tests/api/users.rs
Due: backend

backend test pass again
  backend/tests/api/auth.rs
Due: backend

attempt at using cookie manager for not web
  frontend/lib/common/data/network/dio_manager.dart
  frontend/lib/common/data/network/interceptors.dart
  frontend/lib/common/data/network/rest_client.dart
  frontend/lib/common/utils/cookie_storage.dart
  frontend/lib/common/utils/service_locator.dart
  frontend/lib/features/auth/auth.dart
  frontend/lib/features/auth/auth_model.dart
  frontend/lib/features/auth/auth_service.dart
  frontend/lib/features/auth/auth_state.dart
  frontend/lib/features/auth/auth_storage.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/features/auth/user.dart
Due: frontend

update package
  frontend/pubspec.yaml
Due: frontend

update macos settings
  frontend/.metadata
  frontend/android/app/src/main/kotlin/com/example/frontend/MainActivity.kt
  frontend/macos/Runner.xcodeproj/project.pbxproj
  frontend/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  frontend/macos/Runner/Configs/AppInfo.xcconfig
  frontend/macos/Runner/DebugProfile.entitlements
  frontend/macos/Runner/Release.entitlements
Due: frontend

remove bad android change
  frontend/android/app/src/main/kotlin/com/example/frontend/MainActivity.kt
  frontend/android/app/src/main/kotlin/com/example/storystains/MainActivity.kt
Due: frontend

fix weird routing
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/pages/story_filter_page.dart
  frontend/lib/routes/routes.dart
Due: frontend

update cors for cookie auth
  backend/src/cors.rs
Due: backend

frontend tests work
  frontend/test/features/review/review_edit_test.dart
  frontend/test/pages/account_test.dart
Due: frontend

add a redis instance to fly
  backend/redis/fly.toml
  fly.toml
Due: backend

update github yml
  .github/workflows/backend.yml
Due: none

readd main for android
  frontend/android/app/src/main/kotlin/com/example/storystains/MainActivity.kt
Due: frontend

fix base_url in build step
  .github/workflows/frontend.yml
Due: none

clean up readme's
  README.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
