Repository jacomago/storystains: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: auto
        flags: 
          - flutterfront
      backend:
        target: auto
        flags: 
          - backend

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    # only include files in the backend folder
    paths: #note, accepts globs, not regexes
      - backend/
  frontend:
    paths:
      - frontend/

delete other user via api
  backend/sqlx-data.json
  backend/src/api/routes.rs
  backend/src/api/users/db.rs
  backend/src/api/users/routes.rs
  backend/tests/api/auth.rs
  backend/tests/api/review/delete.rs
  backend/tests/api/review_emotion/delete.rs
  backend/tests/api/users/delete.rs
  backend/tests/api/users/login.rs
Due: backend

rename ACL flag
  backend/src/api/review_emotion/routes.rs
  backend/src/api/reviews/routes.rs
  backend/src/api/shared/access_control.rs
  backend/src/api/users/routes.rs
Due: backend

fix ignored tests seeing if will past in ci as well
  backend/tests/api/review/delete.rs
  backend/tests/api/review_emotion/delete.rs
Due: backend

add deploy yaml
  .github/workflows/deploy_fly.yml
Due: none

fix workflow file?
  .github/workflows/deploy_fly.yml
Due: none

add concurrency group
  .github/workflows/deploy_fly.yml
Due: none

make sure run sqlx where the migration scripts are
  .github/workflows/deploy_fly.yml
Due: none

build generated source files for flutter in docker
  Dockerfile
Due: none

update comments in docker file
  Dockerfile
Due: none

first commit of website
  website/index.html
Due: none

fix no scroll on mobile
  frontend/lib/features/review_emotions/review_emotion_list.dart
Due: frontend

add favicon
  website/favicon.ico
Due: none

change domain to app.storystains.com
  .github/workflows/frontend.yml
  .vscode/launch.json
  fly.toml
Due: none

fix a flutter version in github actions
  .github/workflows/frontend.yml
Due: none

wait for proxy setup
  .github/workflows/deploy_fly.yml
Due: none

add helper for locale and update error message for register failure
  backend/src/api/users/model/new_password.rs
  frontend/lib/common/utils/extensions.dart
  frontend/lib/common/widget/load_message.dart
  frontend/lib/features/review/widgets/review_body.dart
  frontend/lib/features/review/widgets/review_date.dart
  frontend/lib/features/review/widgets/review_username.dart
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/features/reviews/review_list.dart
  frontend/lib/features/story/widgets/story_edit_widget.dart
  frontend/lib/features/story/widgets/story_search_results.dart
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/l10n/app_en.arb
  frontend/lib/main.dart
  frontend/lib/pages/account.dart
  frontend/lib/pages/login_register.dart
  frontend/lib/pages/not_found.dart
  frontend/lib/pages/story_filter_page.dart
Due: backend, frontend

fix tests
  .vscode/launch.json
  frontend/lib/common/utils/error.dart
  frontend/lib/l10n/app_en.arb
  frontend/lib/pages/login_register.dart
  frontend/test/pages/login_register_test.dart
Due: frontend

formatting
  frontend/test/pages/login_register_test.dart
Due: frontend

add simple get current user route
  backend/src/api/routes.rs
  backend/src/api/users/routes.rs
  backend/tests/api/users/get.rs
  backend/tests/api/users/mod.rs
  frontend/lib/common/data/network/rest_client.dart
Due: backend, frontend

auth init when using state wheere already loging
  frontend/lib/features/auth/auth_state.dart
  frontend/test/features/auth/auth_test.dart
  frontend/test/features/auth/user.dart
  frontend/test/pages/account_test.dart
  frontend/test/pages/login_register_test.dart
Due: frontend

correct auth if for showing the add button
  frontend/lib/features/review_emotions/review_emotion_list.dart
Due: frontend

fix test
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

clear review emotions when doing a copy
  frontend/lib/features/review/review_state.dart
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/features/review_emotions/review_emotions_state.dart
  frontend/lib/features/story/story_state.dart
  frontend/test/features/review/review_edit_test.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

add the doc for the state
  frontend/lib/features/review_emotions/review_emotion_list.dart
Due: frontend

Make links clearer
  frontend/lib/common/widget/link_button.dart
  frontend/lib/common/widget/widget.dart
  frontend/lib/features/review/widgets/review_username.dart
  frontend/lib/features/reviews/review_list.dart
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/l10n/app_en.arb
Due: frontend

use a field for editing object in semantic label
  frontend/lib/features/story/widgets/story_edit_widget.dart
  frontend/lib/features/story/widgets/story_widget.dart
  frontend/lib/l10n/app_en.arb
  frontend/test/pages/story_filter_page_test.dart
Due: frontend

clean up semantics labels in test
  frontend/lib/common/widget/markdown_edit.dart
  frontend/lib/l10n/app_en.arb
  frontend/test/features/review/review_edit_test.dart
  frontend/test/features/review_emotion/review_emotion_edit_test.dart
  frontend/test/features/story/story_widget_test.dart
  frontend/test/pages/review_detail_test.dart
  frontend/test/pages/story_filter_page_test.dart
Due: frontend

make column nullable
  backend/migrations/20220722125627_null_body.sql
Due: backend

trimming whitespace and allowing null body
  backend/sqlx-data.json
  backend/src/api/reviews/db.rs
  backend/src/api/reviews/model/reviews.rs
  backend/src/api/reviews/routes.rs
  backend/src/api/shared/model/long_form_text.rs
  backend/src/api/shared/model/short_form_text.rs
  backend/src/api/users/model/new_username.rs
  backend/tests/api/review/post.rs
  backend/tests/api/review/put.rs
  backend/tests/api/review/test_review.rs
Due: backend

fix null in test
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

fix when delete review so it's empty
  frontend/lib/features/review_emotions/review_emotion_list.dart
Due: frontend

update model in front for optional notes and body
  frontend/lib/features/review/review_model.dart
  frontend/lib/features/review_emotion/review_emotion_model.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/test/features/review/review_edit_test.dart
  frontend/test/features/review/review_test.dart
  frontend/test/features/review_emotion/review_emotion_edit_test.dart
  frontend/test/features/review_emotion/review_emotion_test.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
  frontend/test/pages/review_detail_test.dart
Due: frontend

update ui to handle a null body in controller
  frontend/lib/common/data/network/rest_client.dart
  frontend/lib/features/review/review_model.dart
  frontend/lib/features/review/review_service.dart
  frontend/lib/features/review/review_state.dart
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/l10n/app_en.arb
  frontend/test/features/review/review_test.dart
Due: frontend

send null notes in review emotion
  frontend/lib/features/review_emotion/review_emotion_state.dart
Due: frontend

only em allowed as sizing units
  frontend/assets/icons/logo_circle.svg
  frontend/assets/icons/logo_design.svg
  frontend/assets/icons/logo_plain_rounded.svg
  frontend/assets/logo/logo_circle_plain.svg
Due: frontend

display markdown using markdownbody
  frontend/lib/features/review/widgets/review_body.dart
  frontend/lib/features/review/widgets/review_widget.dart
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

fix test from changes
  frontend/lib/features/review_emotion/widgets/review_emotion.dart
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

remove unused import
  frontend/test/features/review_emotions/review_emotions_list_test.dart
Due: frontend

designs for new rectangle
  design/rect_#rect751_ink_svg.svg
  design/rect_#rect751_png.png
  design/rect_#rect751_rect.svg
  design/rect_#rect751_svg.svg
  design/rect_#rect760_ink_svg.svg
  design/rect_#rect760_png.png
  design/rect_#rect760_rect.svg
  design/rect_#rect760_svg.svg
  design/rectangles curved.svg
Due: none

rename files
  frontend/assets/images/rect_right_curve_svg.svg
  frontend/assets/images/rect_top_curve_svg.svg
Due: frontend
