Repository jacomago/storystains: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

swap from tarpaulin to llvm-cov
  .github/workflows/backend.yml
Due: none

use different actions for testing
  .github/workflows/backend.yml
Due: none

Fix ci from updates (#54)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/backend.yml
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/deploy_fly.yml
  .github/workflows/frontend.yml
  .rusty-hook.toml
  .vscode/launch.json
  .vscode/settings.json
  README.md
  backend/Cargo.toml
  backend/src/startup.rs
  frontend/android/app/build.gradle
  frontend/android/app/src/debug/AndroidManifest.xml
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/android/app/src/profile/AndroidManifest.xml
  frontend/android/build.gradle
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/lib/common/utils/extensions.dart
  frontend/lib/common/widget/load_message.dart
  frontend/lib/common/widget/nav_bar.dart
  frontend/lib/features/review/widgets/review_date.dart
  frontend/lib/features/review_emotion/widgets/review_emotion_edit.dart
  frontend/lib/features/review_emotions/review_emotion_list.dart
  frontend/lib/pages/account.dart
  frontend/lib/pages/login_register.dart
  frontend/lib/pages/not_found.dart
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/test/common/image_mock_http.dart
Due: backend, frontend

update flutter packages
  frontend/pubspec.lock
Due: frontend

update flutter
  frontend/pubspec.lock
Due: frontend

clean up merge
  frontend/pubspec.lock
Due: frontend

update deploy fly
  .github/workflows/deploy_fly.yml
Due: none

Clean up merge (#55)
  .github/workflows/deploy_fly.yml
  frontend/pubspec.lock
Due: frontend

update docker file and docker ignore
  .dockerignore
  Dockerfile
Due: none

Upgrade svelte
  website/.eslintrc.cjs
  website/.prettierrc
  website/README.md
  website/eslint.config.js
  website/package-lock.json
  website/package.json
  website/playwright.config.ts
  website/postcss.config.cjs
  website/src/app.css
  website/src/app.d.ts
  website/src/app.html
  website/svelte.config.js
  website/tsconfig.json
  website/vite.config.js
  website/vite.config.ts
Due: none

tailwind package
  website/package-lock.json
  website/package.json
  website/src/app.css
  website/src/components/NavItem.svelte
  website/src/components/Navbar.svelte
  website/src/routes/+layout.svelte
  website/tailwind.config.cjs
Due: none

Add wrangler and cloudflare settings
  website/package-lock.json
  website/package.json
  website/svelte.config.js
  website/wrangler.toml
Due: none

remove check
  website/.npmrc
Due: none

flutter upgrade stuff
  .github/workflows/frontend.yml
  frontend/lib/common/utils/error.dart
  frontend/lib/features/auth/auth_state.dart
  frontend/lib/features/emotions/emotion_service.dart
  frontend/lib/features/emotions/emotion_state.dart
  frontend/lib/features/mediums/medium_service.dart
  frontend/lib/features/review/review_state.dart
  frontend/lib/features/review_emotion/review_emotion_state.dart
  frontend/lib/features/reviews/reviews_state.dart
  frontend/lib/features/story/story_state.dart
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/common/errors.dart
  frontend/test/features/review/review_test.dart
  frontend/test/features/reviews/review_list_test.dart
  frontend/test/pages/account_test.dart
  frontend/test/pages/login_register_test.dart
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
